*{
  margin:0;
  padding:0;
  box-sizing:border-box;
  font-family: 'Roboto', sans-serif;
}
body{
  width:100%;
  height:100vh;
  background:rgb(66,66,66);
  color:white;
  position:relative;
}
#container{
  position:absolute;
  top:50%;
  left:50%;
  transform:translate(-50%,-50%);
  width:50%;
  height:40%;
  text-align:center;
  background:rgba(0, 0, 0, 0.2);
  box-shadow:0 0 10px black;
  border-radius:20px;
  padding:20px;
}
#container h2{
  font-size:35px;
  letter-spacing: 7px;
}
#goal-container, #background-input,#beach-outfit,#greenery-outfit,#lighting-outfit,#input-container{
  margin-top:25px;
  display:flex;
  align-items:center;
  justify-content:space-around;
}

#background-input{
  display:none;
}
#goal1, #goal2, #goal3,#beach,#greenery,#lighting,#hoodie,#casual,#beachoutfit,#suit,#mirror,#weight-load,#weight-lifting{
  width:20%;
  position:relative;
  overflow:hidden;
  border-radius:20px;
  cursor:pointer;
  letter-spacing: 5px;
  transition:0.5s;
}
#goal1:hover, #goal2:hover, #goal3:hover, #beach:hover, #greenery:hover, #lighting:hover,#hoodie:hover,#casual:hover,#beachoutfit:hover,#suit:hover,#mirror:hover,#weight-load:hover,#weight-lifting:hover{
  border:3px solid coral;
}
#goal1:hover::before,#goal2:hover::before, #goal3:hover::before, #beach:hover::before, #greenery:hover::before, #lighting:hover::before, #hoodie:hover::before, #casual:hover::before, #beachoutfit:hover::before, #suit:hover::before, #mirror:hover::before, #weight-load:hover::before, #weight-lifting:hover::before{
  top:0;
}
#goal1:hover h3,#goal2:hover h3, #goal3:hover h3, #beach:hover h3, #greenery:hover h3, #lighting:hover h3, #hoodie:hover h3, #casual:hover h3, #beachoutfit:hover h3, #suit:hover h3, #mirror:hover h3, #weight-load:hover h3, #weight-lifting:hover h3{
  top:50%;
}
#goal1::before, #goal2::before, #goal3::before, #beach::before, #greenery::before, #lighting::before, #hoodie::before, #casual::before, #beachoutfit::before,#suit::before,#mirror::before,#weight-load::before,#weight-lifting::before{
  content:"";
  width:100%;
  height:100%;
  background:rgba(0, 0, 0, 0.2);
  position:absolute;
  left:0;
  top:100%;
  transition:0.5s;
  
}
#goal1 img, #goal2 img, #goal3 img, #beach img, #greenery img, #lighting img, #hoodie img, #casual img, #beachoutfit img, #suit img, #mirror img, #weight-load img, #weight-lifting img{
  width:100%;
  display:block;
}
.asthetic-txt,#goal-txt,#beachOutfit-txt,#greenery-txt,#lighting-txt,#fitness-bg-txt{
  position:absolute;
  top:120%;
  left:50%;
  transform:translate(-50%,-50%);
  transition:0.5s;
}
#goal2,#goal3,#beach,#greenery{
  width:30%;
}
#mirror,#weight-load{
  width:33%;
}
#weight-lifting{
 width:28%;
}
#greenery{
  width:27%;
}
#lighting{
  width:35%;
}
#goal3::before{
  background:rgba(0, 0, 0, 0.3);
}
#beachoutfit::before,#casual::before,#hoodie::before,#suit::before{
  z-index:-1;
}
